@import url(https://fonts.googleapis.com/css?family=Varela+Round);
*, *:before, *:after {
    box-sizing: border-box;
}
body {
    background: #383a3f;
    font-family: "Varela Round", sans-serif;
}
.card {
    background: #1f2124;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    margin: 50px 20px 20px 20px;
    width: calc(33.3333% - 40px);
    /* 1/3 minus the margins (20+20) */
    padding: 20px;
    text-align: center;
    color: white;
    float: left;
}
@media (max-width: 768px) {
    .card {
        margin: 10px 20px;
        width: calc(100% - 40px);
    }
    .card:first-child {
        margin-top: 20px;
    }
}
.card .title {
    font-size: 25px;
}
.card .icon {
    margin: 50px 0;
}
.card .icon svg {
    width: 100px;
    height: 100px;
}
.card .icon svg path {
    fill: #ef47bc;
}
.card .features ul {
    padding: 0;
    margin: 20px 0 50px 0;
    list-style-type: none;
}
.card .features ul li {
    margin: 10px 0;
    font-size: 14px;
}
.card .features ul li span {
    border-bottom: 2px dotted #5616C5;
}
.card .btn {
    display: block;
    background: #5616C5;
    color: white;
    padding: 15px 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.9);
    transition: all 200ms ease-in-out;
    text-decoration: none;
}
.card .btn:hover {
    background: #353b43;
}